/*******************************************************************************
ESPECIFIC OF PLUGIN
*******************************************************************************/
td.time, td.host, td.uri, td.referrer {font-size: x-small !important;   }

th#cb, td.cb  { width: 4%; }

th#time, td.time { width: 15%; vertical-align: middle}
th#host, td.host { width: 13%; vertical-align: middle}
th#uri, td.uri  { width: 34%;vertical-align: middle }
th#referrer, td.referrer {width: 34% ;vertical-align: middle }

.widefat tbody th.check-column {padding: 0; vertical-align: middle; }
p.search-box { margin: 0 0 10px 0;  }


tfoot tr { display: none; }

.crop { overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  width:250px; }

#grenn a { color: #008000; }


/* hacks */
.last_scan { font-size: 11px; float: right;  font-style: italic ; margin-right:  }
#red { color: #FF0000 !important;  }
#errorimg {background-image:url('../images/h3_icons/warning.png'); background-position:10px center;background-repeat:no-repeat;padding:10px 5px  10px  65px; font-weight: bold; }

#hiddenoff { }

.light { font-weight: bold; border: 1px solid #DDDDDD; background: #EEEEEE; padding: 4px; margin: 10px 0 10px 0 }
.light a { text-decoration: none; }


/*******************************************************************************
                           scan teste e +
*******************************************************************************/
 .fdxlist li { list-style: disc; margin-left: 20px }


pre {background: none repeat scroll 0 0 #EAEAEA; display: inline-block; padding: 5px;  margin: 2px;}

.fdx-list {list-style-type:  decimal;list-style-position: inside;  margin-left: 5px}

.fdx-error, .fdx-warning, .fdx-success {font-weight: bold;text-align: center;}
.fdx-error {color: #FF0000;}
.fdx-warning {color: #efa800;}
.fdx-success {color: #008000;}

.fdx-status {text-align: center !important; vertical-align: middle !important; }
.fdx-details { vertical-align: middle !important; }


/* usa js */
.blockMsg {
  border:  none !important;
  padding: 15px !important;
  background-color: #000 !important;
  color: #EEEDBD !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
   font-size: 12px !important;
}


.fdx-list {
  list-style-position: inside;
  list-style-type: disc;
  margin-left: 10px;
}

.fdx-list ul {
  list-style-position: inside;
  list-style-type: circle;
  margin-left: 10px;
}



.fdx-file {	font-style:italic;	margin-right:20px; color:#888}
.fdx-show-source, .fdx-restore-source {margin:0 0 0 1px;font-size: 11px;text-decoration: none;font-weight: bold}
.fdx-file-list li {	margin-bottom:10px}





#source-dialog p, #restore-dialog p {margin: 20px;}
.wp-dialog .ui-dialog-title {padding: 3px 18px 5px 3px !important;}



/*******************************************************************************
      defaut
*******************************************************************************/

/* Language */
.ico_button {padding:4px;display:block;padding-left:25px;background-repeat:no-repeat;background-position:5px 50%;text-decoration:none;border:none;}
.ico_button_pt_BR, .ico_button_pt-BR, .ico_button_pt   {background-image:url(../images/h3_icons/flag_br.png);}
.ico_button_fr_FR, .ico_button_fr-FR, .ico_button_fr   {background-image:url(../images/h3_icons/flag_fr.png);}
.ico_button_es_ES, .ico_button_es-ES, .ico_button_es   {background-image:url(../images/h3_icons/flag_es.png);}
.ico_button_it_IT, .ico_button_it-IT, .ico_button_it   {background-image:url(../images/h3_icons/flag_it.png);}

/* ************************sidebar common******************************* */
#fdxerror { color: red; font-size: 15px; font-weight: bold; margin: 10px; text-align: center; padding: 3px }

.postbox p { padding: 0 5px 0 5px !important  }
.fdx { font-size: 13px !important; font-weight: normal !important; text-align: left !important}
.fdx td { padding: 10px }
.itens { width: 250px !important }
small { color: #535353; }
.red { color: red }

code.red {font-family: Verdana, Arial, Helvetica, sans-serif;  background-color:#FFCC66; color:#000000; padding:0px 5px 0px 5px; height:20px;border:1px solid #FF6600;border-radius:3px;}
span#butpop a  {  text-decoration: none !important }

h5 { padding: 0!important; margin: 0 !important; font-size: 11px !important }

a.sm_button {padding:4px;display:block;padding-left:25px;background-repeat:no-repeat;background-position:5px 50%;text-decoration:none;border:none;}
a.sm_button:hover {border-bottom-width:1px;}
a.sm_bug {background-image:url(../images/h3_icons/bug.png);}
a.sm_code {background-image:url(../images/h3_icons/code.png);}
a.sm_autor {background-image:url(../images/h3_icons/home.png);}
a.sm_lang {background-image:url(../images/h3_icons/locate.png);}

a.sm_star {background-image:url(../images/h3_icons/star.png);}
a.sm_link {background-image:url(../images/h3_icons/link.png);}

a.sm_bullet {background-image:url(../images/h3_icons/bullet.png);}
em.none { color: #808080; font-size: 10px  }

/* htabs ****widget */
.tabsCell{padding:0 0 15px;}
ul.tabs{float:left;list-style:none;width:100%;font-family:Arial, Helvetica, sans-serif;font-size:11px;margin:0;padding:0;}
ul.tabs li{float:left;overflow:hidden;position:relative;margin:0;padding:0;}
ul.tabs li a{text-decoration:none;font-size:13px;display:block;outline:none;padding:4px 10px 4px 10px;}
ul.tabs li a:hover{}
ul.tabs li.active a{font-weight:bold;}
ul.tabs li.active a:hover{font-weight:bold;}
ul.tabs li.active{ background: url(../images/arrow-down.png) no-repeat center 19px; padding-bottom: 8px; margin-top: -8px }
.tab_container{}
.tab_container p{}
.tab_content{}


/* ***************************************************************** */

#space { margin-right: 20px }
.long {width: 270px;}


.fdx-left-content {
	width: 38%;
	float: left;
	padding-right: 0;
	margin-top: 10px;
	position: relative;
}


.fdx-right-content {
	width: 53%;
	float: left;
	margin-left: 3%;
	border-left: 1px solid #e6e6e6;
	margin-bottom: -10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 15px;
  }

 .fdx-right-content p, .fdx-left-content p {
	margin-top: 0;
}


hr.sep {
border-bottom: 1px solid #e6e6e6; border-top: none; border-left: none; border-right: none; width: 100%;
 margin: 20px 0 15px 0;
 }


/*.fdx-clear {
	clear: both;
}
*/

.button_submit { text-align: center }
.button_reset  { float: left; margin-left: 0; margin-top: -25px }