div.hid { visibility: hidden; overflow: hidden; height: 1px; }  /* hack para input hiden */
.postbox p { padding: 0 5px 0 5px !important  }
.fdx { font-size: 13px !important; font-weight: normal !important; text-align: left !important}
.fdx td { padding: 10px }
.itens { width: 250px !important }
small { color: #535353; }
.red { color: red }

code.red {font-family: Verdana, Arial, Helvetica, sans-serif;  background-color:#FFCC66; color:#000000; padding:0px 5px 0px 5px; height:20px;border:1px solid #FF6600;border-radius:3px;}
span#butpop a  {  text-decoration: none !important }
h5 { padding: 0!important; margin: 0 !important; font-size: 11px !important }



a.sm_button {padding:4px;display:block;padding-left:25px;background-repeat:no-repeat;background-position:5px 50%;text-decoration:none;border:none;}
a.sm_button:hover {border-bottom-width:1px;}
a.sm_bug {background-image:url(../images/bug.png);}
a.sm_code {background-image:url(../images/code.png);}
a.sm_autor {background-image:url(../images/menu_fdx.png);}
a.sm_lang {background-image:url(../images/locate.png);}

a.sm_star {background-image:url(../images/star.png);}
a.sm_link {background-image:url(../images/link.png);}



.ico_button {padding:4px;display:block;padding-left:25px;background-repeat:no-repeat;background-position:5px 50%;text-decoration:none;border:none;}
.ico_button_ok {background-image:url(../images/ok.png);}
.ico_button_error {background-image:url(../images/error.png);}

/* ###################################1################################################## */
#fdx-table td { padding: 5px 0 2px 0  !important  }

.sn-error, .sn-warning, .sn-success {
  font-weight: bold;
  text-align: center;
}

.sn-error {
    color: #FF0000;
}
.sn-warning {
  color: #efa800;
}
.sn-success {
  color: #008000;
}

.sn-notice {
  margin-left: 4px;
  font-size: 13px;
}

.sn-status,.sn-details {
  text-align: center !important
}


#icon-sn-lock {background: url('../images/logo_icon.png') no-repeat scroll transparent;}
.admin-color-classic #icon-sn-lock {background: url('../images/logo_icon.png') no-repeat scroll transparent !important;}


pre {
  background: none repeat scroll 0 0 #EAEAEA;
  display: inline-block;
  padding: 5px;
  margin: 2px;
}

.blockMsg {
  border:  none !important;
  padding: 15px !important;
  background-color: #000 !important;
  color: #EEEDBD !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
   font-size: 12px !important;
}

.wrap h2 {
  color: #464646;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-top: 18px;
}

.sn-list {
  list-style-position: inside;
  list-style-type: disc;
  margin-left: 10px;
}

.sn-list ul {
  list-style-position: inside;
  list-style-type: circle;
  margin-left: 10px;
}

.sn_core_ad {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
}


/* ####################################################################################### */
.fdx-list {list-style-type:  decimal;list-style-position: inside;  margin-left: 5px}


/* ************************************************************ */


.sn-cs-changed-bad,.sn-cs-missing-bad,.sn-cs-changed-ok,.sn-cs-missing-ok,.sn-cs-ok {	margin:0 0 0 0;	display:block;	clear:both}
.sn-cs-changed-bad p,.sn-cs-missing-bad p,.sn-cs-changed-ok p,.sn-cs-missing-ok p,.sn-cs-ok p {	font-size:12px;	font-weight:normal;	margin-bottom:15px;color: #666}
.sn-cs-changed-bad h4,.sn-cs-missing-bad h4,.sn-cs-changed-ok h4,.sn-cs-missing-ok h4,.sn-cs-ok h4 {	font-size:17px;}
.sn-cs-changed-bad h4 {color:red; margin-bottom: 0;}
.sn-cs-missing-bad h4 {color:#EFA800; margin-bottom: 0;}
.sn-cs-changed-ok h4 {color:#6FBF00; margin-bottom: 0;}
.sn-cs-missing-ok h4 {color:#6FBF00; margin-bottom: 0;}
.sn-cs-ok h4 {color:#444; margin-bottom: 0;}
.sn-file {	font-style:italic;	margin-right:20px; color:#888}
.sn-show-source, .sn-restore-source {
	margin:0 15px 0 1px;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold
}
.sn-file-list li {	margin-bottom:10px}
.sn-cs-changed-bad,.sn-cs-missing-bad,.sn-cs-changed-ok,.sn-cs-missing-ok,.sn-cs-ok {
	border-bottom:1px dotted #ccc;
	padding-bottom:20px
}
.sn-cs-ok {
	border-bottom:0
}


.sn-cs-ok h4 {
	font-weight: bold;
	margin-bottom: 5px
}

.sn_count {
	font-weight:bold;
	font-size:32px;
	letter-spacing:-3px
}

.wrap h2 {
	color: #464646;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: -1px;
	margin-top: 18px
}

#source-dialog p, #restore-dialog p {
  margin: 20px;
}

.wp-dialog .ui-dialog-title {
  padding: 3px 18px 5px 3px !important;
}